include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
include models/transformers/bert_ft/*
include models/transformers/bert_ft_10k_25s/*
include models/transformers/bert_pretrained/*
recursive-exclude * __pycache__
