include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
include rxnfp/models/transformers/bert_ft/*
include rxnfp/models/transformers/bert_ft_10k_25s/*
include rxnfp/models/transformers/bert_pretrained/*
recursive-exclude * __pycache__
